/* --- Código CSS para el Selector de Tema --- */
.theme-switcher {
    width: 100%;
    max-width: 350px;
    background-color: var(--fondo-elemento-configuracion);
    border-radius: var(--radio-borde-elemento-configuracion);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.theme-label {
    color: var(--color-titulo-configuracion);
    font-size: 1.4rem;
    font-weight: 500;
}

.theme-button {
    background: none;
    border: none;
    color: #999;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    transition: color 0.2s ease, transform 0.2s ease;
}

.theme-button:hover {
    transform: scale(1.1);
}

.theme-button.active {
    color: #A32F2A;
}

/* Variables y Estilos para Modo Claro */
body.light-mode {
  --fondo-app: #f4f4f9;
  --fondo-encabezado: #ffffff;
  --fondo-tarjeta: white;
  --texto-claro: #2c3e50;
  --resaltado-texto: #333;
  --fondo-boton: #A32F2A;
  --fondo-boton-hover: #b94b46;
  --fondo-boton-volver: #e9ecef;
  --hover-boton-volver: #dee2e6;
  
  --fondo-elemento-configuracion: #ffffff;
  --color-titulo-configuracion: #000;
  --color-descripcion-configuracion: #666;
  --color-icono-configuracion: #A32F2A;
  --color-icono-flecha: #999;
}
/* --- Fin del Código CSS para el Selector de Tema --- */